server:
  port: ${PORT:8080}

# shows more items of log of spring security
logging:
  level:
    org:
      springframework:
        security: TRACE
        web: DEBUG

# Configurations of this Client
spring:
  security:
    oauth2:
      client:
        registration:
          client-sticky-note:
            provider: spring
            client-id: client-sticky-note
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: ${CLIENT_REDIRECT_URL:http://127.0.0.1:8080/login/oauth2/code/{registrationId}}
            scope: openid, profile
            client-name: client-sticky-note
        provider:
          spring:
            # Authorization Server URL
            issuer-uri: ${AUTHORIZATION_SERVER_URL:http://localhost:9000}
  # Enable hidden method PUT, DELETE in form actions
  mvc:
    hiddenmethod:
      filter:
        enabled: true

# URL to connect to resource server
resource:
  server:
    url: ${RESOURCE_SERVER_URL:http://localhost:9090}

