<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form to create a new task list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-around">
      <div class="navbar-nav">
         <a class="nav-link active" href="../home.html">See all lists</a>
        <a class="nav-link" href="updated-list">Updated list</a>
      </div>
    </nav>
        <form action="/notes/create", method="post">
            <div>
                <label id="title">Title</label>
                <input name="title" placeholder="The title of the list">
                <small>The title of new list</small>
            </div>
            <div class="form-floating">
                <textarea name="description" placeholder="Write your note here" id="description"></textarea>
                <label for="description"></label>
            </div>
            <button type="submit">Create</button>
        </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>