<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Notes</title>
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-around">
            <div class="navbar-nav">
                <a class="nav-link active" href="/notes/home">See all lists</a>
            </div>
            <a href="/notes/form">
                <button class="btn btn-outline-secondary my-2 my-sm-0">New list</button>
            </a>
        </nav>
        <div>
            <div th:if="${#lists.isEmpty(tasks.tasks)}" class="alert alert-primary text-center mt-3" role="alert">There is no notes</div>
            <div class="card text-center mt-3" th:each="t:${tasks.tasks}">
                <!-- Envia CSRF automaticamente com o thymeleaf-->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="card-header" th:text="${t.title}">Title</div>
                    <div class="card-body">
                        <ul>
                            <li class="list-group-item" th:text="${t.description}">Item task</li>
                        </ul>
                    </div>
                    <div class="card-footer d-flex d-flex justify-content-evenly">
                        <form th:method="get" th:action="@{'/notes/note/' + ${t.id}}">
                            <!-- Envia CSRF automaticamente com o thymeleaf-->
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">update</button>
                        </form>
                        <form th:method="delete" th:action="@{'/notes/delete/' + ${t.id}}">
                            <!-- Envia CSRF automaticamente com o thymeleaf-->
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">delete</button>
                        </form>
                        <form th:method="get" th:action="@{'/notes/email/' + ${t.id}}">
                            <!-- Envia CSRF automaticamente com o thymeleaf-->
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">send e-mail</button>
                        </form>
                    </div>
                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}">Email message</div>
            </div>
        </div>
    </div>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>