<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-around">
            <div class="navbar-nav">
                <a class="nav-link active" href="/notes/home">See all lists</a>
            </div>
            <a href="/notes/form">
                <button class="btn btn-outline-secondary my-2 my-sm-0">New list</button>
            </a>
        </nav>
        <div>
            <div class="card text-center mt-3" th:each="task:${notes.tasks}">
                <!-- Envia CSRF automaticamente com o thymeleaf atraves da tag th:action-->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="card-header" th:text="${task.title}">Title</div>
                <div class="card-body">
                        <li class="list-group-item" th:text="${task.description}">Item task</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="/notes/update" th:href="@{'/notes/note/' + ${task.id}}" class="btn btn-outline-secondary my-2 my-sm-0">update</a>
                    <a href="/notes/delete" th:href="@{'/notes/delete/' + ${task.id}}" class="btn btn-outline-danger my-2 my-sm-0">delete</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>